= form_for :page, url(:pages, :update, :id => page.id), :method => :put, :multipart => true, :class => 'form-horizontal' do |f|
  - photo = page.photos.find_or_initialize_by(:rank => 0)
  #layout-picture.layout
    .row.form
      .col-xs-4
      #photo-field.col-xs-4
        = f.fields_for :photos, photo do |ff|
          = ff.hidden_field :rank, :value => photo.rank
          %fieldset.control-group
            .controls
              = ff.file_field :picture, :class => 'form-control input-large input-with-feedback'
      .col-xs-4
    .row
      .col-xs-2
      #photo.col-xs-8
        = image_tag photo.picture.url(:small) if photo.picture.exists?
      .col-xs-2

  .form-actions
    =f.submit 'Speichern', :class => 'btn btn-success'
    =link_to 'Cancel', url(:posts, :pages, :id => page.post_id), :class => 'btn btn-primary'
