= form_for @page, url(:pages, :update, :id => @page.id), :multipart => true, :method => :put, :class => 'form-horizontal' do |f|
  #layout-title.layout
    .row.form
      .col-xs-4
      #title.col-xs-4
        - title = page.paragraphs.find_or_initialize_by(:rank => 0)
        = f.fields_for :paragraphs, title, :index => title.rank do |ff|
          = ff.hidden_field :rank, :value => title.rank
          %fieldset.control-group
            .controls
              ~ ff.text_field :content, :placeholder => "Titel", :class => 'form-control input-large input-with-feedback title'
      .col-xs-4

    .row
      .col-xs-2
      #subtitle.col-xs-8
        - subtitle = page.paragraphs.find_or_initialize_by(:rank => 1)
        = f.fields_for :paragraphs, subtitle, :index => subtitle.rank do |ff|
          = ff.hidden_field :rank, :value => subtitle.rank
          %fieldset.control-group
            .controls
              ~ ff.text_field :content, :placeholder => "Untertitel", :class => 'form-control input-large input-with-feedback paragraph'
      .col-xs-2

  .form-actions
    = f.submit pat(:save), :class => 'btn btn-primary'
    = f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
    = link_to pat(:cancel), url(:posts, :edit, :id => @page.post_id), :class => 'btn btn-default'
