= form_for @page, url(:pages, :update, :id => @page.id), :multipart => true, :method => :put, :class => 'form-horizontal' do |f|
  #layout-title.layout
    .row.form
      #title.col-xs-4.col-xs-offset-4
        - title = page.paragraphs.find_or_initialize_by(:rank => 0)
        = f.fields_for :paragraphs, title, :index => title.rank do |ff|
          = ff.hidden_field :rank, :value => title.rank
          %fieldset.control-group
            .controls
              ~ ff.text_field :content, :placeholder => "Titel", :class => 'form-control input-large input-with-feedback title'

    .row
      #subtitle.col-xs-8.col-xs-offset-2
        - subtitle = page.paragraphs.find_or_initialize_by(:rank => 1)
        = f.fields_for :paragraphs, subtitle, :index => subtitle.rank do |ff|
          = ff.hidden_field :rank, :value => subtitle.rank
          %fieldset.control-group
            .controls
              ~ ff.text_field :content, :placeholder => "Untertitel", :class => 'form-control input-large input-with-feedback paragraph'

  .form-actions
    = partial 'pages/form_actions', :locals => { :f => f }
