.row
  .col-md-6.col-md-offset-1
    %h3
      Seiten
  .col-md-2.col-md-offset-2
    = link_to 'Neu', url(:countries, :new_page, :id => @country.id), :class => 'btn btn-success'

.top-buffer

- @pages.each do |page|
  .row.top-buffer
    .col-md-3.col-md-offset-1
      = page.title
    .col-md-3
      - if (title_image = page.title_image)
        = image_tag title_image.picture.url(:small)
    .col-md-2
      = link_to 'edit', url(:pages, :edit, id: page.id), class: 'btn btn-default'
    .col-md-2
      = form_for :page, url(:pages, :destroy, id: page.id), method: :delete do |f|
        = f.submit 'delete', class: 'btn btn-danger'
