.tabs-content#page_form
  = form_for :page, url(:pages, :create), :method => :put, :class => 'form-horizontal' do |f|
    = hidden_field_tag :country_id, :value => @page.country_id
    %fieldset.control-group
      = f.label :layout
      .controls
        = f.select :layout, :options => Layout.as_hash.to_a, :id => "layout_select", :class => "form-control input-large input-with-feedback"
    .form-actions
      = f.submit pat(:save), :class => 'btn btn-primary'
      = link_to pat(:cancel), url(:countries, :edit, :id => @page.country_id), :class => 'btn btn-default'
