.form-group
  .col-md-1.col-md-offset-3
    = f.label 'Titel', for: :title, :class => 'control-label'
  .col-md-4
    = f.text_field :title, :class => "form-control input-large input-with-feedback", :autofocus => true
.form-group
  .col-md-1.col-md-offset-3
    = f.label 'Land', for: :group_id, :class => 'control-label'
  .col-md-4
    = f.select :group_id, :options => Group.all.map {|g| [g.to_s, g.id]}, :id => "layout_select", :class => "form-control input-large input-with-feedback"
.form-actions.form-group
  .col-md-2.col-md-offset-4
    =link_to 'Cancel', url(:posts, :index, :group_id => f.object.group_id), :class => 'btn btn-primary'
  .col-md-2
    = f.submit 'Speichern', class: 'btn btn-success pull-right'
