= form_for @post, url(:posts, :update, :id => @post.id), :multipart => true, :method => :put, :class => 'form-horizontal' do |f|
  - error = @post.errors.include?(:body)
  %fieldset.control-group{:class => error ? 'has-error' : ''}
    =f.label :body, :class => 'control-label'
    .controls
      ~f.text_area :body, :class => 'form-control input-large input-with-feedback'
  - photo = @post.photos.find_or_initialize_by(:rank => 0)
  = f.fields_for :photos, photo do |ff|
    .row
      .col-xs-6
        %fieldset.control-group
          = ff.label :photo, :class => 'control-label'
          .controls
            = ff.file_field :picture, :class => 'form-control input-large input-with-feedback'
      .col-xs-6
        = image_tag photo.picture.url(:small) if photo.picture.exists?

  .form-actions
    = f.submit pat(:save), :class => 'btn btn-primary'
    = f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
    = link_to pat(:cancel), url(:posts, :index), :class => 'btn btn-default'
