= form_for :post, url(:posts, :update, :id => post.id), :method => :put, :multipart => true, :class => 'form-horizontal' do |f|
  - title = post.paragraphs.find_or_initialize_by(:rank => 0)
  - movie = post.movies.find_or_initialize_by(:rank => 0)
  .layout.layout-admin
    .row.form.title-row.top-buffer
      .col-md-4.col-md-offset-4
        = f.fields_for :paragraphs, title, :index => title.rank do |ff|
          = ff.hidden_field :rank, :value => title.rank
          %fieldset.control-group
            .controls
              ~ ff.text_field :content, :placeholder => "Titel", :autofocus => true, :class => 'form-control input-large input-with-feedback title'
    .row.form.below-title-row
      = f.fields_for :movies, movie do |ff|
        = ff.hidden_field :rank, :value => movie.rank
        - if movie.video.exists?
          .full-height.col-md-12
            = image_tag movie.video.url(:thumb), :class => 'img-responsive center-block file-field-trigger pointer'
            .hidden.hidden-file-field
              = ff.file_field :video
        - else
          .col-md-4.col-md-offset-4
            = ff.file_field :video, :class => 'form-control input-large input-with-feedback'

  .row.top-buffer.form-actions
    = partial 'posts/form_actions', :locals => { :f => f }

