.row
  .col-md-6.col-md-offset-1
    %h3
      Einträge
  .col-md-2.col-md-offset-2
    = link_to 'Neu', url(:posts, :new), :class => 'btn btn-success'

.top-buffer

- @posts.each do |post|
  .row.top-buffer
    .col-md-3.col-md-offset-1
      = link_to post.title, url(:posts, :pages, :id => post.id)
    .col-md-3
      = "Seiten: #{post.pages.count}"
    .col-md-2
      = link_to 'edit', url(:posts, :edit, id: post.id), class: 'btn btn-default'
    .col-md-2
      = form_for :post, url(:posts, :destroy, id: post.id), method: :delete do |f|
        = f.submit 'delete', class: 'btn btn-danger'
