.row
  .col-md-6.col-md-offset-1
    %h3
      = @country
  .col-md-2.col-md-offset-2
    = link_to 'Neuer Eintrag', url(:countries, :new_post, :id => @country.id), :class => 'btn btn-success'

.top-buffer

- @posts.each do |post|
  .row.top-buffer
    .col-md-3.col-md-offset-1
      = post.title
    .col-md-3
      - if (title_image = post.title_image)
        = link_to image_tag(title_image.picture.url(:small), :class => 'center-block'), url(:posts, :edit, :id => post.id)
    .col-md-2
      = link_to 'Eintrag anpassen', url(:posts, :edit, id: post.id), class: 'btn btn-default'
    .col-md-2
      = link_to 'Eintrag löschen', url(:posts, :destroy, :id => post.id, :js => true), :confirm => 'Wirklich löschen?', :class => 'btn btn-danger'
