%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:posts, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:posts, :new)

.tabs-content#post_form
  = form_for @post, url(:posts, :create), :class => 'form-horizontal' do |f|
    %fieldset.control-group
      = f.label :layout
      .controls
        = f.select :layout, :options => Layout.all, :id => "layout_select", :class => "form-control input-large input-with-feedback"
    .form-actions
      = f.submit pat(:save), :class => 'btn btn-primary'
      = link_to pat(:cancel), url(:posts, :index), :class => 'btn btn-default'
