!!! 5
%html{:lang => 'en'}
  %head
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %meta{:name => :viewport, :content => 'width=device-width,initial-scale=1'}
    %title Velo Login
    = csrf_meta_tags
    = favicon_tag 'favicon.ico'
    = stylesheet_link_tag '/stylesheets/application'
  %body
    %nav#dreiradfahrer-navigation.navbar.navbar-default
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{'aria-expanded' => 'false', 'data-target' => '#collapse-nav', 'data-toggle' => 'collapse', :type => 'button'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'DreiRadFahrer', '/', :class => 'navbar-brand'
        #collapse-nav.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li=link_to 'Projekt', '/projekt', :class => 'navbar-nav-link'
            %li=link_to 'Map', '/map', :class => 'navbar-nav-link'
            %li=link_to 'Wir', '/wir', :class => 'navbar-nav-link'
            %li=link_to 'Sponsoren', '/sponsoren', :class => 'navbar-nav-link'
    .container
      = form_tag url(:sessions, :create), :class => 'login form-horizontal' do
        = {:error => 'danger', :warning => 'warning', :success => 'success', :notice => 'info'}.map { |type, class_name| flash_tag(type, :class => "alert alert-#{class_name} fade in", :bootstrap => true) }.join.html_safe
        .row
          .form-group
            %label.col-md-2.col-md-offset-2.control-label{:for => :email}
              Email
            .col-md-4
              = email_field_tag :email, :id => :email, :value => params[:email], :autofocus => true, :class =>'form-control'
        .row
          .form-group
            %label.col-md-2.col-md-offset-2.control-label{:for => :password}
              Passwort
            .col-md-4
              = password_field_tag :password, :id => :password, :class =>'form-control'
          .form-group
            .col-md-12
              = submit_tag('Einloggen', :class => 'btn btn-primary center-block')
