.row
  .col-md-6.col-md-offset-1
    %h3
      Länder
  .col-md-2.col-md-offset-2
    = link_to 'Neu', url(:countries, :new), :class => 'btn btn-success'

.top-buffer

- @countries.each do |country|
  .row.top-buffer
    .col-md-3.col-md-offset-1
      = link_to country.name, url(:country, :pages, :country_id => country.id)
    .col-md-3
      = "Einträge: #{country.pages.count}"
    .col-md-2
      = link_to 'edit', url(:countries, :edit, id: country.id), class: 'btn btn-default'
    .col-md-2
      = form_for :country, url(:countries, :destroy, id: country.id), method: :delete do |f|
        = f.submit 'delete', class: 'btn btn-danger'
