.col-md-12
  %h3
    Länder
    = link_to url(:groups, :new) do
      %span.glyphicon.glyphicon-plus

.col-md-12
  - @groups.each do |group|
    .col-md-6
      = link_to group.name, url(:posts, :index, :group_id => group.id)
    .col-md-6
      = link_to 'edit', url(:groups, :edit, id: group.id)
      = link_to 'delete', url(:groups, :destroy, id: group.id), class: 'btn btn-default'


-# %ul.nav.nav-tabs
-#   %li.active=link_to tag_icon(:list, pat(:list)), url(:groups, :index)
-#   %li=link_to tag_icon(:plus, pat(:new)), url(:groups, :new)

-# .tabs-content
-#   %table#list.table.table-striped.table-hover.table-condensed
-#     %thead
-#       %tr
-#         %th.header.list-menu
-#           .dropdown
-#             %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
-#               =tag_icon :magic
-#               %span.caret
-#             %ul.list-menu.dropdown-menu{:role => :menu}
-#               %li.list-menu-wrapper=link_to tag_icon('check-square-o', pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
-#               %li.list-menu-wrapper.list-menu-wrapper-disabled
-#                 =link_to tag_icon('square-o', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
-#               %li.list-menu-divider.divider
-#               %li.list-menu-wrapper.list-menu-wrapper-disabled
-#                 =link_to tag_icon('trash-o', pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
-#                 .list-menu-popover-delete-selected.popover.right
-#                   .arrow
-#                   %h3.popover-title=pat(:delete_selected_title)
-#                   .popover-content
-#                     = form_tag url(:groups, :destroy_many), :method => :delete do
-#                       =hidden_field_tag :group_ids, :'data-delete-many-ids' => true
-#                       =submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
-#                       .btn.btn-default.btn-small.cancel=pat(:cancel)
-#         %th.header= mat(:group, :id)
-#         %th.header= mat(:group, :name)
-#         %th.header= mat(:group, :created_at)
-#         %th.header= mat(:group, :updated_at)
-#         %th.header.list-row-action-header

-#     %tbody
-#       -@groups.each do |group|
-#         %tr.list-row
-#           %td.list-column.list-selectable
-#             =check_box_tag 'group_ids[]', :value => group.id, :class => 'list-selectable-checkbox'
-#           %td.list-column=group.id
-#           %td.list-column=group.name
-#           %td.list-column=time_ago_in_words group.created_at
-#           %td.list-column=time_ago_in_words group.updated_at
-#           %td.list-column.list-row-action
-#             .list-row-action-wrapper
-#               =link_to tag_icon(:edit), :href => url(:groups, :edit, :id => group.id), :rel => :tooltip, :title => "#{pat(:edit)} group", :class => 'list-row-action-wrapper-link'
-#               =link_to tag_icon('trash-o'), :rel => :tooltip, :title => "#{pat(:delete)} group", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
-#               .popover.list-row-action-popover-delete-one.left
-#                 .arrow
-#                 %h3.popover-title=pat(:delete, :model => "group")
-#                 .popover-content
-#                   = form_tag url(:groups, :destroy, :id => group.id), :method => :delete do
-#                     =submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
-#                     .btn.btn-default.btn-small.cancel=pat(:cancel)
