.row
  .col-md-6.col-md-offset-1
    %h3
      Länder
  .col-md-2.col-md-offset-2
    = link_to 'Neu', url(:groups, :new), :class => 'btn btn-success'

.top-buffer

- @groups.each do |group|
  .row.top-buffer
    .col-md-3.col-md-offset-1
      = link_to group.name, url(:posts, :index, :group_id => group.id)
    .col-md-3
      = "Einträge: #{group.posts.count}"
    .col-md-2
      = link_to 'edit', url(:groups, :edit, id: group.id), class: 'btn btn-default'
    .col-md-2
      = form_for :group, url(:groups, :destroy, id: group.id), method: :delete do |f|
        = f.submit 'delete', class: 'btn btn-danger'
