!!! 5
%html{:lang => 'de'}
  %head
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %meta{:name => :viewport, :content => 'width=device-width,initial-scale=1'}
    %title Dreiradfahrer
    -# = favicon_tag 'velo-icon.ico'
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css'

  %body
    %nav#dreiradfahrer-navigation.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{'aria-expanded' => 'false', 'data-target' => '#collapse-nav', 'data-toggle' => 'collapse', :type => 'button'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .pull-right
            = link_to 'DreiRadFahrer', '/', :class => 'navbar-brand navbar-right'
        #collapse-nav.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li=link_to 'Tagebuch', url(:countries, :index), :class => 'navbar-nav-link'
            %li=link_to 'Projekt', url(:pages, :projekt), :class => 'navbar-nav-link'
            %li=link_to 'Map', url(:pages, :map), :class => 'navbar-nav-link'
            %li=link_to 'Wir', url(:pages, :wir), :class => 'navbar-nav-link'
            %li=link_to 'Sponsoren & Goenner', url(:pages, :sponsoren_und_goenner), :class => 'navbar-nav-link'
            %li=link_to 'Impressum', url(:pages, :impressum), :class => 'navbar-nav-link'
          %ul.nav.navbar-nav.navbar-right
            %li=link_to 'Login', '/admin', :class => 'navbar-nav-link'
    = yield

    = javascript_include_tag 'jquery-1.11.0.min', 'jquery.fullPage.min', 'jquery.slimscroll.min', (Padrino.env == :production ? %w[bootstrap/bootstrap.min] : %w[bootstrap/alert bootstrap/button bootstrap/collapse]), :application, :map

